@import "reveal-js/dist/theme/template/mixins";
@import "reveal-js/dist/theme/template/settings";

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Signika Negative');

$mainFontSize: 2em;
$mainFont: 'Signika Negative', sans-serif;
$headingFont: 'Signika Negative', sans-serif;
$headingLetterSpacing: normal;
$headingFontWeight: 600;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$heading5Size: 0.8em;
$heading6Size: 0.6em;

// Solarized color theme
/**
 * Solarized colors by Ethan Schoonover
 */

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$base4:     #fcfcfc;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #118b81;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base02;
$headingColor: $blue;
$headingTextShadow: none;
$backgroundColor: $base4;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $cyan;

@import "reveal-js/dist/theme/template/theme";

.reveal pre {
	margin: 1em auto;
    font-size: 1em;
}

.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal section img {
	border: 0em;
	box-shadow: none;
}

.reveal ul {
	margin: .2em .2em .2em;
}

.gist-it-gist .gist-file .gist-data pre, .gister-gist .gist-file .gist-data pre {
	box-shadow: none !important;
}

.container {
	display: flex;
  	justify-content: center;
  	align-items: flex-start;
	margin-bottom: 0.4em;
}

.col {
	flex: 1;
	margin: 0.1em;
}

.white-text {
	color: white !important;
}

.highlight {
	color: $cyan !important;
}

.accent {
	color: $magenta !important;
}

.reveal .progress {
	color: $magenta;
}

.bad {
	color: $red !important;
}

.ok {
	color: $green !important;
}

.no-bullet {
	list-style-type: none !important;
}

.inverse {
	color: $base2 !important;
}

em {
	color: $cyan;
}

strong {
	color: $magenta;
}

.reveal code {
	color: rgb(209, 28, 124);
	font-family: "JetBrains Mono", "Oxygen Mono", "Roboto Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
	// font-weight: bold;
}

.reveal pre {
	margin: 1em auto;
}

.w50 {
	width: 50%
}

.w75 {
	width: 75%
}

.w100 {
	width: 100%
}