.mermaid {
    margin: 0 auto;
    text-align: center;
    width: auto;

    svg {
        max-width: 100%;
    }

    &.smaller {
        width: 85%;
    }

    &.smallest {
        width: 50%;
    }   
}

figure.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

div.highlight > pre > code {
    position: relative;

    &.language-kotlin::after {
        content: "Kotlin";
    }

    &.language-scala::after {
        content: "Scala";
    }

    &::after {
        content: "HEllo";
        font-style: italic;
        color: #333;
        text-align: center;
        position: absolute;
        top: -5px;
        right: 10px;
    }
}

*/
